[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=simi
Group=simi
WorkingDirectory=/home/simi/app/src/
Environment="PATH=/home/simi/app/src/.venv/bin"
EnvironmentFile=/home/simi/app/src/.env
ExecStart=/home/simi/app/.venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target